body {
    font-family: 'Montserrat', sans-serif;
}
/* CSS Header e Footer */
.caixa {
	position: relative;
	width: 100%;
}

.banner {
	width: 100%;
}

nav{
	position: absolute;
	right: 15px;
	bottom: 25px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #e6e6e6;
	text-decoration: underline;
}

footer {
	margin: 20px 0 0 0;
	text-align: center;
	background: #000000;
	color: white;
	padding: 40px 0;
	font-size: 0.70em;
}

/* CSS home */
.titulo {
	padding: 1em;
	text-align: center;
	font-size: 2em;
	clear: left;
}

.apresentacao {
	padding: 2em 0;
	text-align: center;
}

.tabela-apresentacao {
	position: relative;
	top: 2em;
	width:100px;
	height:100px;
	left:50em;
	bottom: 2em;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

td:first-child {
  font-weight: bold;
}

.informacoes p {
	text-align: center;
	line-height: 1.25em;
}

.informacoes p:before {
	content: "-"
}

iframe {
	margin-top: 100px;
	position: relative;
	left: 25em;
}
